// position of blue container
html {
  background-color: #C5E4E6;
}

//Title split on 2 lines
.title {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: rgb(26, 91, 84);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 12px;
  transform: scaleX(.9);
}

.first-line {
}

.second-line {
}

// Calculator
.calculator {
  display: flex;
  flex-direction: columns;
  border-radius: 20px;
  background-color: #ffffff;
  width: 800px;
  height: 400px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.screen {
  //align-items: center;
  position: absolute;
  top:0;
  bottom: 0px;
  left: 50%;
  right: 0;
  border-radius: 0 20px 20px 0;
  background-color: rgb(26, 91, 84);
  color: white;
  width: 50%;
  flex-basis: 50%;
}

.touches {

}




