// position of blue container
html {
  background-color: #C5E4E6;
}

//Title split on 2 lines
.title {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #295b54;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 12px;
  transform: scaleX(.9);
}

.first-line {
}

.second-line {
}

// Calculator
.calculator {
  display: flex;
  flex-direction: columns;
  border-radius: 20px;
  background-color: #ffffff;
  width: 900px;
  height: 450px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.screen {
  //align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  border-radius: 25px;
  background-color: #295b54;
  color: white;
  width: 50%;
  flex-basis: 50%;
  margin: 30px;

  .screen-tip {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .screen-total {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.touches {
  display: flex;
  flex-direction: column ;
  justify-content: space-evenly;
  position: relative;
  border-radius: 25px;
  background-color: white;
  color: white;
  width: 50%;
  flex-basis: 50%;
  margin: 30px;
  border: solid black;
  .touches-bill {
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    margin: 5px;

  }
  .touches-tip {
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    margin: 5px;
      .touches-choose-tip {
        flex-basis: 50px;
        button {
          width: 100px;
          margin: 5px;
        }
      }
  }
  .touches-amount-people {
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    margin: 5px;
  }
}

label {
  color: black;
  text-align: start;
}

input {
  width: 100px;
  text-align: end;
}




