// position of blue container
* {
  background-color: #C5E4E6;
}

.container {
}

//Title split on 2 lines
.title {
  color: rgb(26, 91, 84);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 12px;
  transform: scaleX(.9);
}

.first-line {
  margin-top: 150px;
  margin-bottom: 5px;
}

.second-line {
}

// Calculator

.calculator {
  display: flex;
  border-radius: 20px;
  background-color: #ffffff;
  width: 800px;
  height: 400px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}




